
.layout{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.box{
    height: auto;
    border: 1px solid #000000;
    padding: 1rem 4rem;
    margin-bottom: 2rem;
}

.background {
    padding: 1.5rem;
    background-color: #ffffff;
}

.btn-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}